@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");

:root {
  --clr-white: #ffffff;
  --clr-black: #0b0d17;
  --clr-purple: #d0d6f9;

  --f-Serif: "Bellefair", serif;
  --f-SansSerif: "Barlow", sans-serif;
  --f-Condensed: "Barlow Condensed", sans-serif;

  --fs-h1: clamp(80px, 18vw, 150px);
  --fs-h2: clamp(56px, 80px, 100px);
  --fs-h3: clamp(16px, 3vw, 30px);
  --fs-h4: clamp(16px, 20px, 28px);
  --fs-h5: clamp(20px, 5vw, 28px);
  --fs-h6: clamp(30px, 5vw, 56px);
  --fs-sub1: clamp(16px, 17px, 18px);
  --fs-sub2: 14px;
  --fs-p: clamp(15px, 2vw, 18px);
  --fs-button: clamp(20px, 5vw, 32px);
}

.fs-h1 {
  font-size: var(--fs-h1);
}
.fs-h2 {
  font-size: var(--fs-h2);
}
.fs-h3 {
  font-size: var(--fs-h3);
}
.fs-h4 {
  font-size: var(--fs-h4);
}
.fs-h5 {
  font-size: var(--fs-h5);
}
.fs-h6 {
  font-size: var(--fs-h6);
}
.fs-sub1 {
  font-size: var(--fs-sub1);
}
.fs-sub2 {
  font-size: var(--fs-sub2);
}
.fs-p {
  font-size: var(--fs-p);
}
.fs-button {
  font-size: var(--fs-button);
}

/* //////////////// */
/* General settings */

* {
  margin: 0;
}

body {
  box-sizing: border-box;
  color: var(--clr-white);
  margin: 0;
  position: relative;
  z-index: 0;
}

body,
html {
  overflow: hidden;
  height: 100vh;
}

body .destination,
html .destination {
  overflow-y: scroll;
  overflow-y: scroll;
}

.bg {
  position: fixed;
  z-index: -1;
  bottom: 0;
}

.bg img {
  min-width: 100vw;
  min-height: 100vh;
  margin-bottom: -5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--f-Serif);
  margin: 0;
  font-size: 2rem;
}

p,
a {
  font-family: var(--f-SansSerif);
  margin: 0;
  text-decoration: none;
  color: var(--clr-white);
}

.flex {
  display: flex;
}

.f-condensed {
  font-family: var(--f-Condensed);
}

.f-serif {
  font-family: var(--f-Serif);
}

.ls-1 {
  letter-spacing: 0.5px !important;
}

.fw-low {
  font-weight: 200 !important;
}
.fw-medium {
  font-weight: 300 !important;
}
.fw-high {
  font-weight: 500 !important;
}

.lh-100 {
  line-height: 100px;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.noWrap {
  white-space: nowrap;
}

.text-black {
  color: var(--clr-black);
}

.text-purple {
  color: var(--clr-purple);
}

.container {
  padding: 25px;
  max-width: 1110px;
  margin: auto;
}

.opacity {
  opacity: 50%;
}

/* Button */

.bigButton,
.bigButton:hover::after {
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  cursor: pointer;
  position: relative;
  transition: 300ms;
}

.bigButton:hover {
  box-shadow: 1px 1px 1px 45px rgba(255, 255, 255, 0.096);
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: var(--clr-white);
  margin: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.bullet:hover {
  box-shadow: none;
  transform: scale(1.5);
}

/* //////////////// */
/* Content Settings */

/* Cards */

.cards__move {
  justify-content: center;
  position: relative;
}

.card {
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  margin: 5vh auto;
  min-height: 50vh;
  max-height: 70vh;
}

.left {
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100%;
}

.crew .left {
  margin: 0 auto;
  max-height: 200px;
}

.right {
  height: min(30vh, 425px);
  margin: auto;
}

.technology .right {
  flex-direction: column;
  /* height: 260px; */
  margin: auto;
}

.technology .right h4 {
  margin-top: 20px;
}

/* HR line */
hr {
  opacity: 20%;
  margin: 25px auto;
}
.crew hr {
  width: 300px;
  margin: 0;
}

.destination hr {
  max-width: 420px;
}

/* Card image */
.destination .cardImage {
  width: clamp(190px, 35vw, 445px);
  /* height: clamp(170px, 10vw, 445px); */
  margin: 0 auto 10px;
}

.crew .cardImage {
  height: 250px;
}

.technology .left {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 110vw;
  margin: 0 -50px;
  height: 206px;
}

.cardVehicle .left {
  background-image: url("assets/technology/image-launch-vehicle-landscape.jpg");
}

.cardSpaceport .left {
  background-image: url("assets/technology/image-spaceport-landscape.jpg");
}

.cardCapsule .left {
  background-image: url("assets/technology/image-space-capsule-landscape.jpg");
}

/* Card text */

.pretitle {
  text-align: center;
  margin: auto;
}

.technology .card div,
.crew .card div {
  margin: 30px 0 -20px;
}

/* Profission name */
.crew .card div {
  font-weight: 400;
  margin: 0;
}

/* Number of pretitle */
.pretitle span {
  margin-right: 8px;
  font-weight: 600;
}

/* Description */
.description {
  line-height: 30px;
  max-width: 350px;
}
.home .description {
  margin: 20px auto;
}

/* Crew card with margin top (because of the category bullets position)*/
.crew .card__text {
  margin-top: 50px;
  flex-direction: column;
}

.technology .right div {
  margin: 30px auto -10px;
}

/* Specifit destionation data info */
.destination .dataInfo {
  flex-direction: column;
  gap: 10px;
}

.destination .data {
  margin: 10px auto;
}

/* Card categories */
.destination .card__categories .textGeneral {
  margin: 10px;
  position: relative;
}

.destination .card__categories {
  margin: 8px auto 30px;
}

.crew .card {
  gap: 70px;
}

.crew .card__categories {
  margin: 40px auto 10px;
  position: absolute;
  top: 270px;
  left: 0;
  right: 0;
}

.crew .card div {
  margin-top: 50px;
}

.technology .card__categories {
  position: static;
  margin: 40px auto 0px;
  display: flex;
  gap: 16px;
}

.crew .bullet {
  opacity: 20%;
}

.numberButton {
  border: none;
  padding: 20px 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 0.07rem solid rgba(255, 255, 255, 0.3);
  color: white;
  cursor: pointer;
}

#vehicle .one-category,
#spaceport .two-category,
#capsule .three-category {
  background-color: white;
  color: black;
}

.numberButton:hover {
  border: 0.07rem solid white;
}

/* Line categories */
.moon-category::after,
.mars-category::after,
.europa-category::after,
.titan-category::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--clr-white);
  opacity: 0;
}

#moon .moon-category::after,
#mars .mars-category::after,
#europa .europa-category::after,
#titan .titan-category::after {
  opacity: 1;
}

.card__categories .moon-category:hover:after,
.card__categories .mars-category:hover:after,
.card__categories .europa-category:hover:after,
.card__categories .titan-category:hover:after {
  opacity: 20%;
}

.crew #commander .commander-category,
.crew #specialist .specialist-category,
.crew #pilot .pilot-category,
.crew #engineer .engineer-category {
  opacity: 1;
}

/* Moviment cards */
#moon,
#commander,
#vehicle {
  transform: translate(0px);
  transition: transform 1s;
}

#mars,
#europa,
#titan,
#pilot,
#engineer,
#specialist,
#spaceport,
#capsule {
  transform: translateX(4000px);
  transition: transform 1s;
}

/* Tablet */
@media (min-width: 768px) {
  .left,
  .right {
    max-width: 550px;
  }

  .home .left {
    margin: auto;
    max-width: 60vw;
    height: 350px;
  }

  .technology .left {
    max-width: 110vw;
    height: 35vh;
  }

  .crew .card {
    flex-direction: column-reverse;
    gap: 0;
    max-height: 90vh;
  }
  /* Category name */
  .pretitleCategory {
    font-weight: 500;
  }

  /* Title */
  .home .title {
    margin: 50px auto;
  }

  .destination .title {
    margin: -20px auto 0;
  }

  .crew .title {
    margin: -20px auto -10px;
  }

  .description {
    max-width: none;
  }

  .crew .card {
    gap: 50px;
  }

  .crew .cardImage {
    bottom: 0px;
    max-height: 500px;
    width: auto;
    height: auto;
  }

  /* Specific stuff */
  .destination .dataInfo {
    flex-direction: row;
    justify-content: space-around;
  }

  .crew .card__categories {
    margin-top: 30px;
  }

  .crew .card div {
    margin-top: 0px;
  }

  .crew hr {
    display: none;
  }

  .bigButton {
    width: 242px;
    height: 242px;
  }

  .bigButton:hover {
    box-shadow: 1px 1px 1px 65px rgba(255, 255, 255, 0.096);
  }
}

/* Desktop */
@media (min-width: 1240px) {
  .card {
    margin: auto;
    text-align: left;
    gap: 100px;
    flex-direction: row;
    justify-content: space-between;
  }

  .home .card {
    height: 100vh;
  }

  .technology .card {
    gap: 80px;
    max-width: 1100px;
    margin: 70px auto;
  }

  .home .left {
    margin-left: 0;
  }

  .crew .left {
    margin: 0 auto;
  }

  .technology .card div {
    margin: 0;
  }

  .crew .card div {
    margin: 0;
  }

  .technology .left {
    width: 330px;
    background-image: none;
    margin: 0;
    height: 527px;
  }

  .technology .right {
    margin-left: 0;
    justify-content: center;
  }

  .technology .card :nth-child(1) {
    order: 2;
  }
  .technology .card__categories :nth-child(1),
  .technology .card__text :nth-child(1) {
    order: 0;
  }

  .destination .card {
    margin: 100px auto;
  }

  .card__text {
    height: 400px;
    justify-content: center;
  }

  .crew .card {
    flex-direction: row-reverse;
  }

  .card__text {
    width: 450px;
  }

  /* Big button to right and bottom */
  .home .right {
    padding: 120px 20px 20px 120px;
    margin: auto 0;
  }

  .crew .cardImage {
    position: relative;
    bottom: 0px;
    right: -100px;
    max-height: none;
  }

  .technology .cardImage {
    width: 515px;
    height: 527px;
    position: absolute;
    right: -180px;
  }

  .cardVehicle .cardImage {
    background-image: url("assets/technology/image-launch-vehicle-portrait.jpg");
  }

  .cardSpaceport .cardImage {
    background-image: url("assets/technology/image-spaceport-portrait.jpg");
  }

  .cardCapsule .cardImage {
    background-image: url("assets/technology/image-space-capsule-portrait.jpg");
  }

  /* Text */

  .title,
  .description,
  .dataInfo {
    margin-left: 5px;
  }

  .destination .title {
    margin: 20px 0 20px;
  }

  .crew .title {
    margin: -10px -100px 20px 0;
  }

  .technology .title {
    margin: 0 0 10px;
  }

  .pretitle {
    text-align: left;
  }

  .technology .right .pretitle {
    margin: auto 0;
  }

  .description {
    line-height: 1.5;
  }

  .destination .card__categories {
    margin: 0 auto 50px;
  }

  .crew .card__categories {
    top: 520px;
    left: 30px;
  }

  .technology .card__categories {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    margin: 0;
  }

  .crew .right {
    height: 100%;
  }

  .crew .bullet {
    width: 15px;
    height: 15px;
    margin-right: 15px;
  }

  .technology .numberButton {
    width: 80px;
    height: 80px;
  }

  .destination .cardInfo {
    justify-content: flex-start;
    gap: 80px;
  }

  .destination .data {
    margin: 15px 0;
  }

  .destination hr {
    margin-left: 5px;
  }

  .bigButton {
    width: 274px;
    height: 274px;
  }
}

@media (min-width: 1240px) and (min-height: 901px) {
  .crew .left {
    width: 680px;
    height: 712px;
  }

  /*  .crew .cardImage {
    bottom: -100px;
    height: 80vh;
  } */
}
