/* General config */
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: var(--fontColor);
  overflow: hidden;
}

.bg {
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.bg img {
  min-width: 100vw;
  min-height: 100vh;
  margin-bottom: -5px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fontSerif);
}

p,
a {
  font-family: var(--fontSansSerif);
}

.flex {
  display: flex;
}

.container {
  padding: 25px;
  max-width: 1110px;
  margin: auto;
}

.opacity {
  opacity: 50%;
}

/* Button */

.bigButton,
.bigButton:hover::after {
  font-family: var(--fontSerif);
  text-transform: uppercase;
  font-size: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  cursor: pointer;
  position: relative;
  transition: 300ms;
}

.bigButton:hover {
  box-shadow: 1px 1px 1px 45px rgba(255, 255, 255, 0.096);
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: var(--fontColor);
  margin: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.bullet:hover {
  box-shadow: none;
  transform: scale(1.5);
}

@media (min-width: 768px) {
  .bigButton {
    width: 242px;
    height: 242px;
    font-size: 32px;
  }

  .bigButton:hover {
    box-shadow: 1px 1px 1px 65px rgba(255, 255, 255, 0.096);
  }
}

@media (min-width: 1240px) {
  .bigButton {
    width: 274px;
    height: 274px;
  }
}
