/* Header */
header {
  position: relative;
}

.nav {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 130px 0 100vh 35px;
  z-index: 1;
  transform: translateX(400px);
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.836);
}

/* From browsers not support filter blur */
@supports (backdrop-filter: blur(25px)) {
  .nav {
    background: transparent;
    backdrop-filter: blur(25px);
  }
}

.nav ul {
  list-style-type: none;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  width: 200px;
}

#crew,
#home {
  padding-right: 120px;
}
#destination,
#technology {
  padding-right: 60px;
}

.nav li > [aria-selected="true"] {
  border-right: 8px solid rgb(255, 255, 255);
}

.nav li:hover {
  border-right: 8px solid rgba(255, 255, 255, 0.26);
}

.nav.active {
  visibility: visible;
  transform: translateX(0);
  transition: 1s;
}

.nav__item span {
  margin-right: 8px;
}

.logo {
  width: 40px;
}

.lineLogo {
  display: none;
}

/* menu novo */

header .container {
  justify-content: space-between !important;
}

.menu-nav {
  position: relative;
  width: 30px;
  height: 30px;
  perspective: 1000px;
  align-items: center;
  flex-direction: row;
  z-index: 1;
  cursor: pointer;
}

.menuOpen,
.menuClosed {
  position: absolute;
  width: 30px;
  backface-visibility: hidden;
  /* transform-style: preserve-3d; */
  transition: all 1s ease;
}

.menuOpen {
  transform: rotateY(0deg);
}

.menuClosed {
  transform: rotateY(180deg);
}

.menuOpen.active {
  transform: rotateY(-180deg);
}

.menuClosed.active {
  transform: rotateY(0deg);
}

#close-menu,
#close-menu:hover::after {
  position: fixed;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(27, 108, 184, 0);
  transition: backdrop-filter 2s;
}

#close-menu.active {
  visibility: visible;
  backdrop-filter: blur(1px);
}

/* menu novo */

@media (min-width: 768px) {
  .menu-nav,
  .nav__item span {
    display: none;
  }

  header .container {
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 48px;
    height: 48px;
  }

  .nav {
    visibility: visible;
    position: relative;
    flex-direction: row;
    height: 15px;
    padding: 30px 0;
    transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(30px);
    width: 1300px;
    margin-right: -800px;
    justify-self: right;
  }

  #crew,
  #home,
  #destination,
  #technology {
    padding-right: 0;
  }

  .nav ul {
    flex-direction: row;
  }

  .nav li a {
    padding-bottom: 20px;
  }

  .nav li > [aria-selected="false"] {
    border: 0;
  }

  .nav li > [aria-selected="true"] {
    border-right: 0;
    border-bottom: 4px solid rgb(255, 255, 255);
  }

  .nav li:hover {
    padding-bottom: 40px;
    padding-right: 0;
    border-right: 0;
    border-bottom: 4px solid rgba(255, 255, 255, 0.26);
  }
}

@media (min-width: 1240px) {
  .nav {
    padding: 30px 100px 30px 80px;
  }

  header .container {
    max-width: 1300px;
    position: relative;
  }

  .lineLogo {
    width: 570px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.226);
    display: inherit;
    position: absolute;
    top: 50%;
    left: 115px;
    z-index: 1;
  }

  .nav__item span {
    display: inline;
  }
}
